name: "Build & Release"

permissions:
  # To upload files to GitHub Releases
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Build release binaries for ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.runs-on }}

    strategy:
      matrix:
        platform:
          - name: Linux-x86_64
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.platform.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.platform.target }}

      - name: Zip binaries
        run: zip ${{ matrix.platform.name }}.zip . target/${{ matrix.platform.target }}/release/hydrus-ai-tagger target/${{ matrix.platform.target }}/release/libonnxruntime*

      - name: Create release
        uses: https://gitea.com/actions/gitea-release-action@v1
        env:
          NODE_OPTIONS: "--experimental-fetch" # if nodejs < 18
        with:
          files: ${{ matrix.platform.name }}.zip
